---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import Features from "../sections/Features.astro";
import Productive from "../sections/Productive.astro";
import Testimonials from "../sections/Testimonials.astro";
import EarlyAcces from "../sections/EarlyAcces.astro";
import Footer from "../sections/Footer.astro";
import "./../styles/globals.css";
---

<Layout title="Welcome to Clipboard.">
  <main>
    <Header />
    <Hero />
    <Features />
    <Productive />
    <Testimonials />
    <EarlyAcces />
    <Footer />
  </main>
</Layout>
